apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ values.portalName }}-rhdh-config
  labels:
    app: {{ values.portalName }}-rhdh
data:
  app-config.yaml: |
    app:
      title: {{ values.portalName }} Developer Hub
      baseUrl: http://{{ values.portalName }}.local
    organization:
      name: {{ values.portalName }} Organization
    backend:
      baseUrl: http://{{ values.portalName }}.local
      listen:
        port: 7007
      csp:
        connect-src:
          - "'self'"
          - 'http:'
          - 'https:'
      cors:
        origin: http://{{ values.portalName }}.local
        methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
        credentials: true
      database:
        client: better-sqlite3
        connection:
          directory: /app/database
    proxy:
      skipInvalidProxies: true
      endpoints: {}
    techdocs:
      builder: external
    integrations:
      github:
        - host: github.com
          # Configure your GitHub token here
          # token: ${GITHUB_TOKEN}
    auth:
      environment: development
      providers:
        guest:
          dangerouslyAllowOutsideDevelopment: true
          userEntityRef: user:default/guest
    catalog:
      import:
        entityFilename: catalog-info.yaml
      rules:
        - allow: [Component, System, Group, Resource, Location, Template, API]
      locations:
        - type: file
          target: ./catalog-info.yaml


