apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ values.portalName }}-rhdh-database
  labels:
    app: {{ values.portalName }}-rhdh
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard


